@import "tailwindcss";

@font-face {
    font-family: 'nayuki';
    src: url('./public/Fonts/nayuki.ttf') format('truetype');
  }

  /* :root {
    --primary-color: #f7e8da;
} */
body{
  background-color: #f7e8da;
  color: #3f2710;
}